.calendar-box
{
    margin-bottom: 30px;	
}
.redborder
{
	border-bottom: 5px solid #D84200;
}
.blueborder
{
	border-bottom: 5px solid #1862E2;
}
.lightblueborder
{
	border-bottom: 5px solid #00ABBC;
}
.purpleborder
{
	border-bottom: 5px solid #962DFF;
}
.greenborder
{
	border-bottom: 5px solid #159E20;
}
.calendarimg
{
}
.calendarimg img
{
	width:100%;
}
.calendardetails
{
	border-left: 2px solid #E5E5E5;
    background: #fff;
    border-right: 2px solid #E5E5E5;
	padding: 20px 20px;
	min-height: 150px;
}
.caldatebox
{
	border: 3px solid #004F4D;
    text-align: center;
    height: 85px;
    vertical-align: middle;
    display: table-cell;
    color: #004F4D;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    min-width: 80px;
    padding: 0px 10px;
}
.caldatebox hr
{
	margin: 10px 0px;
    border-top: 1px solid #004F4D;	
}
.caldetails
{
	color: #655E6B;
    font-size: 16px;
    font-weight: 600;
}

.caleventtitle
{
	background: #FF893D;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    padding: 6px 10px;
}
.caleventdetailbgwhite
{
	background: #fff;
    padding: 10px 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;    margin-top: 5px;
}
.caleventdetailbggrey
{
	background: #CAD1D8;    margin-top: 5px;
    padding: 10px 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}
.caleventdetailbgwhiteblank{background: #fff;
    padding: 12px 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;}
	.caleventdetailbggreyblank{background: #CAD1D8;
    padding: 12px 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;}
	.section-news-events{margin-bottom:50px;}
.topbuttons{list-style: none;
    padding: 0;}
.topbuttons li{    display: inline-block;
    background: #CAD1D8;    padding: 6px 15px;
    border-radius: 3px;    width: 32.33%;text-align: center;}
.topwhitebg{font-size: 20px;
    background: #fff;
    color: #004F4D;
    line-height: 20px;
    text-align: center;
    padding: 6px 15px;
    border-radius: 3px;
    font-weight: bold;}
.topbuttons li a{color:#fff;font-size: 16px;
    line-height: 16px;}
.topbuttons li.active{background:#496A9A;}
.latesttitle{color:#004F4D;font-size:24px;font-weight:bold;margin-top:0px;margin-bottom:20px;}
.maincaldetailtopbox{    display: table;    margin-bottom: 30px;}
.maincaldetailtopbox .caldetailtopright{    display: table-cell;
    padding-left: 20px;}
.caltopbox{color: #655E6B;
    font-size: 17px;
    font-weight: 500;}
.caltopbox img{    margin-right: 10px;}
.caltopdetail{color: #AEAEAE;
    font-size: 16px;
    margin: 5px 0px;}
.caltopbutton{    background: #004F4D;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 10px;
    min-width: 250px;}
.caltopbutton a{color: #fff;
    font-size: 14px;
    font-weight: 600;}